################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AAD Auth With SQL/AzureSqlOAuthConsole/.vs/AzureSqlOAuthConsole/v15
